.App {
  background-color: lightgray;
  text-align: center;
}

.homeImg{
  width:400px;
  margin-right: 100px;
}

.blogImg{
  width: 500px; 
}

.blogLeftCards{
  margin-left:50px;
}


.vidContainer{
  display: flex;
  justify-content: center;
}

#contestdiv{
  display: flex;
  justify-content: space-around;
  background-color: #046307;
}

#aboutCard{
  margin-left:100px;
}

#requestFormDiv{
  display: flex;
  justify-content: center;
  min-height: 70vh;
}

#aboutDiv{
  display: flex;
  justify-content: space-around;
}

#contactDiv{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.financingDiv{
  display:flex;
  justify-content: space-between;
  background-color: #046307;
}

.financingMidBanner{
  color: white;
}

#navbar{
  background-color: #046307;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}